In [28]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

## World's total population

In [38]:
WPopulation = pd.read_csv('data/raw-data/World-Total-Population.csv', index_col = False)

In [39]:
WPopulation.drop(columns =  ['Series Name', 'Series Code', 'Country Name'], inplace = True)

In [40]:
col = ['Country Name', 'Country Code'] + [str(1960+i) for i in range(60)]

In [41]:
WPopulation.columns = col

In [6]:
WPopulation.to_csv('data/clean-data/world-total-population.csv')

## Global freshwater use

In [7]:
GWUse = pd.read_csv('data/raw-data/global-freshwater-use-over-the-long-run.csv')

In [8]:
GWUse.drop(columns = 'Code', inplace = True)

In [9]:
GWUse.to_csv('data/clean-data/global-freshwater-use.csv')

## Total renewable water resources per capita

In [10]:
RWRperCapital = pd.read_csv('data/raw-data/Total-Renewable-Water-Resources-per-Capita.csv', index_col = False)

In [26]:
RWRperCapital.drop(index = [RWRperCapital.shape[0]-1-i for i in range(8)], columns = ['Symbol', 'Md'], inplace = True)

In [27]:
RWRperCapital.to_csv('data/clean-data/Renewable-water-resources-per-capita.csv')

## Freshwater withdrawal as % of total renewable water resources (%) & Water Stress (%)

In [12]:
WStress = pd.read_csv('data/raw-data/Water-Stress.csv', index_col = False)

In [13]:
WStress.drop(index = [WStress.shape[0]-1-i for i in range(8)], columns = ['Symbol', 'Md'], inplace = True)

In [14]:
FreshwaterWithdrawal = WStress[WStress['Variable Name'] == 'MDG 7.5. Freshwater withdrawal as % of total renewable water resources']

In [15]:
WStress = WStress[WStress['Variable Name'] == 'SDG 6.4.2. Water Stress']

In [17]:
WStress.to_csv('data/clean-data/Water-Stress.csv')
FreshwaterWithdrawal.to_csv('data/clean-data/Freshwater-withdrawal-as-percentage-total.csv')

## Water Withdrawal

In [15]:
WWithdrawal = pd.read_csv('data/raw-data/Water-Withdrawal.csv', index_col = False)

In [24]:
WWithdrawal.drop(index = [WWithdrawal.shape[0]-1-i for i in range(122)], columns = ['Symbol', 'Md'], inplace = True)

In [25]:
WWithdrawal.to_csv('data/clean-data/water-withdrawal.csv')

## Linear Regression Model

In [67]:
value = []
year = [i for i in range(1960,2020)]
for i in range(1960,2020):
    pop = 0
    for j in range(WPopulation.shape[0]):
        try:
            pop = pop + int(WPopulation[str(i)][j])
        except ValueError:
            pass
    value.append(pop)

In [72]:
water_model = GWUse[GWUse['Entity']=='World']

In [73]:
LRM = pd.DataFrame({'YEAR': year,
                   'POPULATION' : value})

In [83]:
LRM

    YEAR  POPULATION Entity    Year  Freshwater use
0   1960  3014128062  World  1960.0    1.751857e+12
1   1961  3054753660  World  1961.0    1.765317e+12
2   1962  3107308195  World  1962.0    1.836014e+12
3   1963  3171989892  World  1963.0    1.919425e+12
4   1964  3237058232  World  1964.0    1.946671e+12
5   1965  3303529641  World  1965.0    2.094529e+12
6   1966  3373122995  World  1966.0    2.155354e+12
7   1967  3442370835  World  1967.0    2.133104e+12
8   1968  3512364479  World  1968.0    2.349150e+12
9   1969  3586501116  World  1969.0    2.358735e+12
10  1970  3661368427  World  1970.0    2.362057e+12
11  1971  3738583293  World  1971.0    2.435749e+12
12  1972  3814619798  World  1972.0    2.547233e+12
13  1973  3889752128  World  1973.0    2.606315e+12
14  1974  3965566149  World  1974.0    2.724754e+12
15  1975  4039627115  World  1975.0    2.638242e+12
16  1976  4111803558  World  1976.0    2.739688e+12
17  1977  4183778499  World  1977.0    2.790536e+12
18  1978  4256974263  World  1978.0    2.991132e+12
19  1979  4332042091  World  1979.0    3.110121e+12
20  1980  4407859789  World  1980.0    3.073438e+12
21  1981  4485702934  World  1981.0    3.053974e+12
22  1982  4566547020  World  1982.0    3.067192e+12
23  1983  4648145439  World  1983.0    3.033539e+12
24  1984  4729495858  World  1984.0    3.115821e+12
25  1985  4812379472  World  1985.0    3.128755e+12
26  1986  4897789599  World  1986.0    3.233088e+12
27  1987  4985380463  World  1987.0    3.271390e+12
28  1988  5073885909  World  1988.0    3.338412e+12
29  1989  5162360562  World  1989.0    3.369048e+12
30  1990  5259797707  World  1990.0    3.321357e+12
31  1991  5347562095  World  1991.0    3.417688e+12
32  1992  5431664591  World  1992.0    3.319438e+12
33  1993  5516637714  World  1993.0    3.358249e+12
34  1994  5600709912  World  1994.0    3.464070e+12
35  1995  5685431051  World  1995.0    3.420213e+12
36  1996  5768199760  World  1996.0    3.338875e+12
37  1997  5850654210  World  1997.0    3.441859e+12
38  1998  5932171752  World  1998.0    3.495762e+12
39  1999  6012483887  World  1999.0    3.651048e+12
40  2000  6092160007  World  2000.0    3.785949e+12
41  2001  6171332251  World  2001.0    3.861642e+12
42  2002  6250295486  World  2002.0    3.806858e+12
43  2003  6329328108  World  2003.0    3.723071e+12
44  2004  6408911394  World  2004.0    3.852974e+12
45  2005  6489025808  World  2005.0    3.827437e+12
46  2006  6569919906  World  2006.0    3.992199e+12
47  2007  6651301761  World  2007.0    4.003665e+12
48  2008  6733923642  World  2008.0    3.948326e+12
49  2009  6816504939  World  2009.0    4.072947e+12
50  2010  6898733233  World  2010.0    3.871886e+12

In [78]:
LRM = LRM.merge(water_model, 'left', left_on = 'YEAR', right_on = 'Year')

In [82]:
LRM = LRM[0:51]

In [85]:
LRM.drop(columns = ['Year','Entity'], inplace = True)

C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [92]:
LRM.to_csv('data/clean-data/linear-regression-model.csv')

In [87]:
water_X = LRM.drop(columns = ['YEAR', 'Freshwater use'])
water_y = LRM['Freshwater use']

In [88]:
lin_reg = linear_model.LinearRegression()

In [90]:
lin_reg.fit(water_X, water_y)

LinearRegression()

In [91]:
print(lin_reg.coef_)
print(lin_reg.intercept_)

[545.29945048]
401426413987.3989

In [93]:
LRM

    YEAR  POPULATION  Freshwater use
0   1960  3014128062    1.751857e+12
1   1961  3054753660    1.765317e+12
2   1962  3107308195    1.836014e+12
3   1963  3171989892    1.919425e+12
4   1964  3237058232    1.946671e+12
5   1965  3303529641    2.094529e+12
6   1966  3373122995    2.155354e+12
7   1967  3442370835    2.133104e+12
8   1968  3512364479    2.349150e+12
9   1969  3586501116    2.358735e+12
10  1970  3661368427    2.362057e+12
11  1971  3738583293    2.435749e+12
12  1972  3814619798    2.547233e+12
13  1973  3889752128    2.606315e+12
14  1974  3965566149    2.724754e+12
15  1975  4039627115    2.638242e+12
16  1976  4111803558    2.739688e+12
17  1977  4183778499    2.790536e+12
18  1978  4256974263    2.991132e+12
19  1979  4332042091    3.110121e+12
20  1980  4407859789    3.073438e+12
21  1981  4485702934    3.053974e+12
22  1982  4566547020    3.067192e+12
23  1983  4648145439    3.033539e+12
24  1984  4729495858    3.115821e+12
25  1985  4812379472    3.128755e+12
26  1986  4897789599    3.233088e+12
27  1987  4985380463    3.271390e+12
28  1988  5073885909    3.338412e+12
29  1989  5162360562    3.369048e+12
30  1990  5259797707    3.321357e+12
31  1991  5347562095    3.417688e+12
32  1992  5431664591    3.319438e+12
33  1993  5516637714    3.358249e+12
34  1994  5600709912    3.464070e+12
35  1995  5685431051    3.420213e+12
36  1996  5768199760    3.338875e+12
37  1997  5850654210    3.441859e+12
38  1998  5932171752    3.495762e+12
39  1999  6012483887    3.651048e+12
40  2000  6092160007    3.785949e+12
41  2001  6171332251    3.861642e+12
42  2002  6250295486    3.806858e+12
43  2003  6329328108    3.723071e+12
44  2004  6408911394    3.852974e+12
45  2005  6489025808    3.827437e+12
46  2006  6569919906    3.992199e+12
47  2007  6651301761    4.003665e+12
48  2008  6733923642    3.948326e+12
49  2009  6816504939    4.072947e+12
50  2010  6898733233    3.871886e+12